.globcontainer {
    /* width: 100%;
    margin-left: auto;
    margin-right: auto; */
}

#sidebar {
    padding-left: 40px;
    text-align: center;
}

#sidebar  a {
    margin-top: 2px;
}
#sidebar  button {
    margin-top: 2px;
}

body {
  padding:10px 0 20px 0;
  font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
}

h1, h2, h3, h4, h5, h6 {
  color:#555;
  margin:20px 0 10px 0 ;
}

h1, h2 {
  border-bottom: dotted #AAA 1px;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}
